@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: grid;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 0, 0, 0.3);
    border-top: 5px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 20px;
    height: 90px;
    background-color: black;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    top: 19px;
}

.nav {
    display: flex;
    gap: 28px;
}

.nav a {
    color: white;
    font-size: 1rem;
    position: relative;
    padding: 0 10px;
}


.nav a::after {
    content: "";
    position: absolute;
    background-color: red;
    border-radius: 5px;
    height: 5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav a:hover::after {
    width: 100%;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px;
    transition: all 0.5s ease;
}

.landing-page {
    height: 100vh;
    background-image: url('images/Background.png');
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    position: relative;
    background-color: black;
}

.content {
    padding: 20px;
    border-radius: 10px;
    line-height: 28px;
}

.content h1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
   
}

.content p {
    font-size: 18px;
    line-height:28px;
    color: #aaa;
}

.content span {
    color: red;
}

.bg1-img {
    padding-left: 55px;
}

.btns {
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 15px 20px;
}

.btns:hover {
    background-color: #ce1511;
}

.btn-class {
    margin-top: 30px;
}

.second-section {
    background-color: #101010;
    color: white;
    padding-top: 120px;
}

.content1 {
    text-align: center;
    padding-bottom: 30px;
}

.content1 h2{
    font-size: 48px;
}

.content1 p {
    font-size: 18px;
    color: #aaa;
}

.second-section-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 20px 70px;
}

.second-section-div h3 {
    font-size: 30px;
}

.access-h3 {
    white-space: nowrap;
}

.second-section-div p {
    font-size: 14px;
    color: #aaa;
    line-height: 24px;
}

.third-section {
    background-color: #242424;
    padding-bottom: 80px;
    height: auto;
}

.third-section-div {
    background-color: #242424;
    display: flex;
}

.real-stories {
    margin-left: 110px;
    padding-top: 50px;
    display: flex;
}

.real-stories h2 {
    color: white;
    font-size: 48px;

}

.real-stories p {
    color: #aaa;
    font-size: 18px;
}

.quote-img {
    z-index: 1;
    position: absolute;
}

.stories-txt {
    z-index: 2;
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
}

.quote-flex {
    display: flex;
}

.first-quote {
    width: 384px;
    height: 424px;
    background-color: black;
    border-radius: 10px;
    margin-left: 310px;
    margin-top: 50px;
    padding-top: 20px;
}

.first-quote h4 {
    color: white;
    font-size: 24px;
    padding-top: 30px;
    padding-left: 30px;
}


.first-quote-div p {
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 20px;
}

.first-quote-div {
    display: flex;
    padding-left: 30px;
    margin: 6px;
    padding-top: 30px;
}

.flo p {
    font-size: 14px;
    color: #D1D5DB;
}

.flo h5 {
    color: white;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 20px;
}

.flow {
    line-height: 28px;
}

.first-quote2 {
    width: 488px;
    height: 340px;
    background-color: black;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: -80px;
    padding-top: 20px;
}

.first-quote2 h4 {
    color: white;
    font-size: 24px;
    padding-top: 30px;
    padding-left: 30px;
}


.first-quote-div2 p {
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 20px;
}

.first-quote-div2 {
    display: flex;
    padding-left: 30px;
    margin: 6px;
    padding-top: 30px;
}

.flo2 p {
    font-size: 14px;
    color: #D1D5DB;
}

.flo2 h5 {
    color: white;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 20px;
}

.flow2 {
    line-height: 28px;
}

.first-quote3 {
    width: 384px;
    height: 284px;
    background-color: black;
    border-radius: 10px;
    margin-left: 735px;
    margin-top: -190px;
}

.first-quote3 h4 {
    color: white;
    font-size: 24px;
    padding-top: 30px;
    padding-left: 30px;
}


.first-quote-div3 p {
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 20px;
}

.first-quote-div3 {
    display: flex;
    padding-left: 30px;
    margin: 6px;
    padding-top: 30px;
}

.flo3 p {
    font-size: 14px;
    color: #D1D5DB;
}

.flo3 h5 {
    color: white;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 20px;
}

.flow3 {
    line-height: 28px;
}

.section4 {
    background-color: black;
    color: white;
    display: flex;
    padding-left: px;
}

.manage h1 {
    font-size: 48px;
    line-height: 60px;
}

.manage p {
    font-size: 18px;
    line-height: 28px;
    color: #E5E7EB;
}

.manage {
    margin-top: 120px;
    margin-left: 100px;
}

.manage h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 7px;
}

.goo-img {
    margin-right: 10px;
}

.app-image {
    margin-left: 50px;
}

.section5 {
    background-color: #242424;
}

.achieve {
    display: flex;
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.ach1 h1 {
    font-size: 48px;
    line-height: 60px;
    color: #E5E7EB;
}

.ach1 {
    font-size: 18px;
    line-height: 28px;
    color: #E5E7EB;
}

.ach2 {
    margin-right: 100px;
}

.ach2 h3 {
    font-size: 36px;
    line-height: 45px;
    color: #E5E7EB;
}

.ach2 p {
    font-size: 16px;
    line-height: 24px;
    color: #E5E7EB;
}

.ach3 h3 {
    font-size: 36px;
    line-height: 45px;
    color: #E5E7EB;
}

.ach3 p {
    font-size: 16px;
    line-height: 24px;
    color: #E5E7EB;
}

.ach-div {
    display: flex;
    margin-left: 250px;
}

.im-img {
    margin-right: -30px;
    margin-top: 15px;
}

.im-img2 {
  margin-top: 120px;
  margin-right: 26px;
}

.move {
    display: flex;
}

.move1 {
    display: flex;
}

.section6 {
    background-color: black;
    color: white;
    text-align: center;
}

.last-div {
    padding-top: 50px;
}

.last-div h1 {
    font-size: 48px;
}

.last-div p {
    font-size: 18px;
    color: #E5E7EB;
}

.last-div img {
    padding-top: 50px;
    padding-bottom: 80px;
}

.tree {
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: .5s;
}

.tree li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
    transition: .5s;
}

.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 51%;
    height: 10px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid red;
}

.tree li:only-child:after .tree li:only-child:before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child:before .tree li:last-child:after {
    border: 0 none;
}

.tree li:last-child:before {
    border-right: 1px solid red;
    border-radius: 0px 5px 0px 0px;
}

.tree li:first-child:after {
    border-radius: 5px 0px 0px 0px;
}

.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid red;
    width: 0;
    height: 20px;
}

.tree a {
    border: 1px solid red;
    padding: 10px;
    display: inline-grid;
    text-decoration-line: none;
    border-radius: 5px;
    transition: .5s;
}

.tree-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}

.tree a span {
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.tree li a:hover, .tree li a:hover img, .tree li a:hover span, .tree li a:hover+ul li a {
    background: #c8d7f1;
    color: black;
    border: 1px solid #94a0b4;
    box-shadow: 0px 0px 8px -5px #5f5f5f;
}

.tree li a:hover+ul li:after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

footer {
    background-color: #000000;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    top: 19px;
    padding-bottom: 30px;
    border-top: 1px solid white;
}

.left {
    padding-top: 50px;
}

.left a {
    color: white;
    transition: 0.4s;
}

.left a:hover {
    color: #FF1816;
}

.left ul {
    display: flex;
    justify-content: space-between;
}

.left li {
    padding: 10px 20px 20px 0;
}

.left h4 {
    font-size: 16px;
    padding-top: 20px;
}

.right {
    padding-top: 50px;
}

.right img {
    padding-top: 20px ;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#FF1816,#FF1816);
    border-radius: 9px;
}

.video-part {
    position: relative;
    margin-top: 80px;
}

.play_btn {
    position: absolute;
    top: 300px;
    right: 630px;
    cursor: pointer;
}

.our-vision {
    background-color: #000000;
    color: white;
    padding-bottom: 90px;
    height: auto;
}

.our-vision-txt {
    text-align: center;
}

.our-vision-txt h1 {
    font-size: 48px;
    padding-top: 60px;
}

.our-vision-txt p {
    font-size: 18px;
    line-height: 28px;
}

.our-vision-box {
    background-color: #242424;
    width: 393.92px;
    height: 263.66px;
    border-radius: 10.42px;
    padding-left: 15px;
    padding-top: 30px;
    margin: 20px;
    margin-top: 80px;
    position: relative;
}

.lines {
    position: absolute;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.lines .center {
    right: 510px;
    top: 0px;
}

.lngbar {
    right: 0px;
    left: 60px;
    margin-right: 40px;
    padding-right: 60px;
    margin-bottom: 80px;
    align-self: center;
}

.our-vision-box h3 {
    color: #FF1816;
    font-size: 20.84px;
    padding-left: 20px;
}

.our-vision-box-p p {
    font-size: 18.76px;
    line-height: 22.7px;
    justify-content: center;
}

.our-vision-box-p {
    padding-top: 30px;
}

.our-vision-box-flex {
    display: flex;
    align-items: center;
}

.box-flex {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

/*** news Start ***/
.news .news-item {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #FFF3F3;
}

.text-white .mb-4 {
    color: #FFF3F3;
}

.news .news-item::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;
}


.news .news-item .news-content {
    position: absolute;
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    justify-content: end; 
    bottom: -60px; 
    left: 0;
    transition: 0.5s;
    z-index: 3;
}

.news .news-item:hover .news-content {
    position: absolute;
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    justify-content: end; 
    bottom: 0px; 
    left: 0;
}

.text-white {
    color: #FFF3F3; 
    padding-left: 50px; 
    padding-top: 50px; 
    font-size: 20px; 
    line-height: 35px; 
    font-weight: 400; 
    position: absolute;
}

.img-fluid {
    margin: 40px 0 0 140px;
}

.end-sec {
    background-image: url('images/Rectangle8.png');
    text-align: center;
    padding-bottom: 60px;
}

.end-sec h3 {
    font-size: 25px;
    line-height: 30.26px;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

.end-sec p {
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 500;
    color: white;
    padding-bottom: 40px;
}

.end-btn1 {
    top: 30px;
    color: white;
    padding: 13px 28px;
    border-radius: 5px;
    background-color: #FF1816;
    margin-right: 10px;
}

.end-btn2 {
    top: 30px;
    color: white;
    padding: 13px 28px;
    border-radius: 5px;
    background-color: #FF1816;
}

.cont-page {
    background: #ce1511;
    color: white;
    padding-top: 150px;
    height: 250px;
}

.cont-page h1 {
    font-size: 48px;
    margin-top: -70px;
    text-align: center;
}

.cont-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg, var(#080808), var(#3C0606));
}

.get-us {
    background-color: #242424;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.contact-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-content {
    margin-right: 120px;
    margin-left: 100px;
    margin-top: 60px;
    position: relative;
}

.contact-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.contact-content p {
    color: white;
    line-height: 30px;
}

.contact-content p a {
    color: #1a73e8;
    text-decoration: none;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    background-color: #1a1a1a;
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
}

.phone-group {
    display: flex;
    flex-direction: column;
}

.phone-input {
    display: flex;
    gap: 10px;
}

.country-code {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#country-code {
    padding-left: 30px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #1a1a1a;
    color: #fff;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.country-code select {
    width: 100%;
    padding-right: 40px;
}

#flag-icon {
    position: absolute;
    display: inline-block;
    margin-right: 15px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.char-count {
    font-size: 12px;
    color: #aaaaaa;
    text-align: right;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    background-color: #ce1511;
    color: #ffffff;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #700404;
}

#content {
    display: none;
}

.faq {
    background-color: #000000;
    padding-top: 150px;
    padding-bottom: 60px;
}

.faq-section1 {
    text-align: center;
    color: #E5E7EB;
}

.faq-section1 h1 {
    font-size: 36px;
    font-weight: 700;
}

.faq-section1 p {
    font-size: 20px;
    line-height: 60px;
    font-weight: 500;
}

.search {
    width: 1216px;
    height: 91px;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 75px;
    margin-top: 25px;
}

.search-box {
    width: 500px;
    background:;
    margin: 0px auto 0;
    border-radius:;
    z-index: 5;
}
 
.search input {
    flex: 1;
    width: 560px;
    height: 43px;
    padding: 1% 2%;
    border: none;
    outline: 0;
}

.search button {
    width: 109px;
    height: 43px;
    padding: 0px 30px 0px 30px;
    margin-left: 11px;
    background-color: #ff1815;
    color: white;
    border: none;
    cursor: pointer;
}

.search button:hover {
    background-color: #8a0303;
}
/**/
input#faq-search {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

button#search-button {
    background-color: #ff0000;
    color: #fff;
}

.list-group-item {
    background-color: #111;
    color: #fff;
    border-color: #ff0000;
}

/**/

.row {
    display: flex;
    align-items: center;
    padding: 1px 2px;
}

.mob-sec {
    display: flex;
    align-items: center;
    gap: 83px;
    margin-left: 75px;
    margin-top: 50px;
}

.mo-h4 {
    background-color: #1a1a1a;
    width: 350px;
    height: 93px;
    border-top: 3px solid #ff1714;
    align-items: center;
    justify-content: center;
    display: flex;
}

.we-h4 {
    background-color: #1a1a1a;
    width: 350px;
    height: 93px;
    border-top: 3px solid #ff1714;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-h4 {
    background-color: #1a1a1a;
    width: 350px;
    height: 93px;
    border-top: 3px solid #ff1714;
    align-items: center;
    justify-content: center;
    display: flex;
}

.faq-section2 {
    background-color: #242424;
    height: 1250px;
    border-bottom: 50px solid black;
}

.freq h1 {
    font-size: 48px;
    line-height: 60px;
    color: #E5E7EB;
    padding-top: 75px;
    padding-left: 75px;
}

.faqdropdown {
    width: 1216px;
    height: 120px;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 40px;
    margin-left: 75px;
    
}

.faqdropdown {
    flex: 1;
    min-width: 320px;
}

.faq-wrapper img {
    position: absolute; 
    z-index: 3; 
    padding: 20px 10px 0 8px;
}

.faq-title {
    background-color: #000000;
    width: 1216px;
    margin-left: -55px;
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 30px 30px 60px;
    font-size: 18px;
    line-height: 28px;
    color: #E5E7EB;
    left: 33px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.faq-title::after {
    width: 10px;
    height: 10px;
    content: "";
    float: right;
    color: #E61125;
    margin-right: 50px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
    transition: 0.4s ease-in-out;
}

.faq-detail {
    background-color: #000000;
    color: #E5E7EB;
    line-height: 1.5;
    letter-spacing: 1;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    width: 1168px;
    height: 90px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 53px;
    padding-top: 20px;
    margin-left: -22px;
    margin-bottom: 20px;
}

.faq-detail::after {
    border-top: 1px solid #8a0303;
}

.faq-trigger {
    display: none;
}

.faq-trigger:checked + .faq-title + .faq-detail {
    max-height: 300px;
}

.faq-trigger:checked + .faq-title::after {
    transform: rotate(25deg);
    transition: 0.4s ease-in-out;
}
.thanks {
    background-color: rgb(37, 37, 37); 
    padding-top: 150px; 
    height: 100vh; 
    justify-content: center; 
    align-items: center; 
    background-image: url('images/sec2.jpg'); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.smile {
    background-color: white; 
    color: black; 
    border-radius: 10px; 
    width: 650px; 
    margin-left: 26vw;
}
.smile h1 {
    text-align: center; 
    font-size: 46px; 
    padding-left: 30px;
}
.smile h4 {
    text-align: center; 
    font-size: 32px;
}
.smile a {
    margin-left: 110px; 
    bottom: 30px; 
    left: 80px; 
    position: relative; 
    text-decoration: underline;
}
.thanks-img {
    align-self: center; 
    margin-left: 260px;
    width:110px; 
    height:110px;
}
.feature-down {
    padding-top: 30px;
}


@media (max-width: 1316px) {
    body {
        overflow-x: hidden;
    }
    .landing-page {
        height: 60vh;
    }
    .landing-page h1 {
        font-size: 50px;
    }
    .landing-page p {
        font-size: 16px;
    }
    .bg1-img {
        width: 424px;
    }
    .manage h1 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .manage p {
        font-size: 14px;
        line-height: 16px;
        color: #E5E7EB;
    }
    .manage-img {
        width: 60px;
        margin-left: -60px;
    }
    .achieve {
        max-width: 400px;
    }
    .ach1 h1 {
        font-size: 38px;
        line-height: normal;
    }
    .ach1 p {
        font-size: 16px;
        white-space: nowrap;
    }
    .ach2 h3 {
        font-size: 26px;
    }
    .ach2 p {
        font-size: 14px;
        white-space: nowrap;
    }
    .ach3 h3 {
        font-size: 26px;
        white-space: nowrap;
    }
    .ach3 p {
        font-size: 14px;
        white-space: nowrap;
    }
    footer {
        padding: 0 10vw;
    }
    .news-item {
        margin-left: -50px;
    }
    .text-white {
        font-size: 18px;
    }
}

@media (max-width:1156px){
    .move {
        margin-left: -70px;
    }
    .move1 {
        margin-left: -50px;
    }
    .manage p {
        font-size: 14px;
    }
    .manage-img img {
        width: 500px;
    }
    .text-white {
        font-size: 16px;
        max-height: 365px;
        white-space: nowrap;
    }   
}

@media (max-width:1030px) {
    .content h1 {
        font-size: 38px;
        line-height: normal;
    }
    .content p {
       
    }
    .manage {
        max-width: 300px;
    }
    .ach2 p {
        font-size: 14px;
    }
    .ach3 p {
        font-size: 14px;
    }
    .move {
        margin-left: -170px;
    }
    .move1 {
        margin-left: -80px;
    }
    .last-div h1 {
        font-size: 38px;
    }
    .last-div img {
        width: 500px;
    }
}

@media (max-width:932px) {
    .landing-page {
        height: fit-content;
        padding-top: 100px;
    }
    .content p {
        font-size: 12px;
    }
    .bg1-img {
        width: 390px;
    }
}

@media (max-width:873px) {
    .manage-img img {
        width: 450px;
    }
    .move {
        margin-left: -200px;
    }
}

@media (max-width:844px) {
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 14px;
    }
    .achieve {
        flex-direction: column;
        max-width: 200px;
    }
    .ach1 h1 {
        font-size: 36px;
        line-height: normal;
        white-space: nowrap;
        margin-top: -50px;
    }
    .ach1 p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .move {
        margin-right: 150%;
    }
    .move img {
        width: 25px;
    }
    .move1 img {
        width: 25px;
    }
    .ach2 h3 {
        font-size: 18px;
    }
    .ach2 p {
        font-size: 14px;
    }
    .ach3 h3 {
        font-size: 18px;
    }
    .ach3 p {
        font-size: 14px;
    }
}

@media (max-width:833px) {

    .manage {
        margin-top: 20px;
    }
    .manage p {
        font-size: 16px;
    }
    .manage-img img {
        width: 400px;
    }
    .manage h5 {
        font-size: 16px;
    }
    .goo-img {
        width: 100px;
    }
    .app-image {
        width: 100px;
    }
}

@media (max-width: 798px) {
    body {
        overflow-x: hidden;
    }
    .feature-down {
        padding-top: 90px;
    }
    #fullname {
        font-size: 16px;
    }
    #email {
        font-size: 16px;
    }
    #phone {
        font-size: 16px;
    }
    #message {
        font-size: 16px;
    }
    .nav {
        position: absolute;
        right: -100%;
        height: 30vh;
        top: 9vh;
        padding-top: 20px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .nav a::after {
        display: none;
    }
    .nav a:hover {
        color: red;
    }
    .nav li {
        border-bottom: 1px solid red;
        width: 80%;
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 5px;
        
    }
    .menu-icon {
        display: block;
    }

    .nav-active {
        transform: translateX(-100%);
    }

    .menu-icon-active .top {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon-active .middle {
        opacity: 0;
    }

    .menu-icon-active .bottom {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .buttons {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .contact-content h1 {
        font-size: 28px;
    }

    .contact-form {
        padding: 15px;
    }
    .contact-container {
        flex-direction: column;
    }
    .landing-page {
        flex-direction: column;
        padding-top: 100px;
        height: 80vh;
    }
    .content h1 {
        font-size: 2rem;
    }
    .bg1-img {
        width: 50%;
        margin: 0 auto;
    }
    .btns {
        padding: 10px 20px;
    }
    .second-section {
        margin-top: -80px;
    }
    .content1 h2 {
        font-size: 2.5rem;
    }
    .section4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .manage {
        margin-left: -200px;
    }
    .manage h1 {
        white-space: nowrap;
        line-break: none;
    }
    .manage p {
        width:500px;
        white-space: nowrap;
    }
    .manage-img img {
        margin-left: -140px;
        padding: 0 auto;
        overflow-x: hidden;
    }
    .achieve {
        flex-direction: column;
    }
    .video-part {
        width: auto;
        margin-top: -60px;
        height: ;
    }
    .box-flex {
        flex-direction: column;
        margin: 0 22%;
        z-index: 10;
    }
    .lines {
        display: none;
    }
    .div-flex {
        flex-direction: column;
        height: auto;
    }
    .img-fluid {
        margin: 40px 0 0 100px;
    }
    .third-section {
        height: 1100px;
    }
    .news-content {
        padding: 30px 70px 0 70px;
    }
    .text-white {
        white-space: nowrap;
    }
    .cont-page {
        height: 160px;
    }
    .cont-page h1 {
        font-size: 38px;
    }
    .contact-content {
        margin: 30px 0 0 20px;
    }
    .faq-section1 h1{
        font-size: 28px;
    }
    .faq-section1 p {
        font-size: 16px;
    }
    .search {
        width: 600px;
        height: 51px;
        margin-left: 100px;
        margin-top: 25px;
    }
    
    .search-box {
        width: 400px;
        margin: 0px auto 0;
        z-index: 5;
    }
     
    .search input {
        flex: 1;
        width: 360px;
        height: 33px;
        padding: 1% 2%;
        border: none;
        outline: 0;
    }
    
    .search button {
        width: 109px;
        height: 33px;
        padding: 0px 20px 0px 20px;
        margin-left: 11px;
        background-color: #ff1815;
        color: white;
        border: none;
        cursor: pointer;
    }
    .row {
        display: flex;
        align-items: center;
        padding: 1px 2px;
    }
    
    .mob-sec {
        display: flex;
        align-items: center;
        gap: 43px;
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .mo-h4 {
        background-color: #1a1a1a;
        width: 170px;
        height: 53px;
        border-top: 3px solid #ff1714;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .we-h4 {
        background-color: #1a1a1a;
        width: 170px;
        height: 53px;
        border-top: 3px solid #ff1714;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .sub-h4 {
        background-color: #1a1a1a;
        width: 170px;
        height: 53px;
        border-top: 3px solid #ff1714;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .faq-section2 {
        height: 1400px;
    }
    .freq h1 {
        font-size: 28px;
        padding-left: 100px;
        margin-top: -20px;
    }
    .faqdropdown {
        width: 650px;
        height: 120px;
        border-radius: 8px;
        padding: 1.5rem;
        margin-top: 40px;
        margin-left: 100px;
    }
    
    .faqdropdown {
        flex: 1;
        min-width: 320px;
    }
    
    .faq-title {
        background-color: #000000;
        width: 200px;
        margin-left: -55px;
        position: relative;
        display: block;
        width: 100%;
        padding: 30px 30px 30px 60px;
        font-size: 12px;
        line-height: 28px;
        color: #E5E7EB;
        left: 33px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .faq-title::after {
        width: 10px;
        height: 10px;
        content: "";
        float: right;
        color: #E61125;
        margin-right: 50px;
        margin-bottom: 15px;
        border-style: solid;
        border-width: 2px 2px 0 0;
        transform: rotate(135deg);
        transition: 0.4s ease-in-out;
    }
    
    .faq-detail {
        background-color: #000000;
        color: #E5E7EB;
        line-height: 1.5;
        letter-spacing: 1;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        font-size: 11px;
        width: 602px;
        height: 90px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 53px;
        padding-top: 20px;
        margin-left: -22px;
        margin-bottom: 20px;
    }
    .thanks {
        height: 80vh;
        padding-top: 200px;
    }
    .smile {
        flex-wrap: wrap;
        max-width: 600px;
        margin-left: 99px;
    }
    .smile h1 {
        font-size: 38px;
        margin-bottom: 20px;
    }
    .smile h4 {
        font-size: 28px;
    }
    .smile a {
        font-size: 14px;
        margin-left: 50px;
    }
    
}

@media (max-width: 751px) {
    .faqdropdown {
        max-width: 650px;
        margin-left: 50px;
    }
    .search {
        margin-left: 70px;
    }
    .mob-sec {
        margin-left: 70px;
    }
    .faq-wrapper {
        margin-left: 0px;
    }
}

@media (max-width: 717px) {
    .video-part {
        width: 550px;
        object-fit: cover;
        object-position: center;
    }
    .our-vision-box {
        align-self: center;
        justify-self: center;
    }
    .img-fluid {
        align-self: center;
        justify-self: center;
    }
    .stories-txt h2 {
        font-size: 38px;
    }
    .smile {
        flex-wrap: wrap;
        max-width: 500px;
        margin-left: 99px;
    }
    .smile h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .smile h4 {
        font-size: 20px;
    }
    .smile a {
        font-size: 14px;
        margin-left: 0px;
    }
    .thanks-img {
      margin-left: 190px;   
    }
    .search {
        margin-left: 12%;
        max-width: 550px;
    }
    .mob-sec {
        margin-left: 12%;
        max-width: 550px;
        gap: 10;
    }
    .faqdropdown {
        margin: 20px 0 0 5%;
    }
}

@media (max-width: 650px) {
    .search {
        max-width: 500px;
    }
    .search input {
        max-width: 200px;
        margin-left: 10%;
    }
    .mob-sec {
        max-width: 500px;
    }
    .faqdropdown {
        max-width: 500px;
        margin-left: 14%;
    }
    .faq-detail {
        max-width: 452px;
    }
}

@media (max-width: 581px) {
    .search {
        margin-left: 7%;
    }
    .mob-sec {
        margin-left: 7%;
    }
    .freq h1 {
        font-size: 26px;
        margin-left: -10%;
    }
    .faqdropdown {
        margin-left: 7%;
    }
}

@media (max-width: 565px) {
    .ach1 {
        margin-top: -50px;
        margin-left: -50%;
    }
    .ach1 p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .ach-div {
        margin-left: 150%;
    }
    .manage {
        width: 350px;
        margin-left: -30%;
    }
    .manage p {
        white-space: wrap;
        width: 410px;
        font-size: 12px;
    }
    .img-fluid {
        width: 470px;
    }
    .video-part {
        width: 470px;
    }
    .news-content {
      margin-left: -10%;
    }
    .stories-txt h2 {
        font-size: 38px;
        margin-left: -25%;
    }
    footer {
        flex-direction: column;
    }
    .left {
        margin-left: -160px;
    }
    .left ul {
        flex-direction: column;
    }
    .left li {
        padding: 0px;
       
    }
    .left img {
        margin-left: -10px;
    }
    .right {
        margin-left: -80px;
        padding-bottom: 30px;
    }
    .right-flex {
        display: flex;
        gap: 10px;
    }
    .right-flex img {
        width: 100px;
    }
    .smile {
        flex-wrap: wrap;
        max-width: 400px;
        margin-left: 79px;
    }
    .smile h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .smile h4 {
        font-size: 18px;
    }
    .smile a {
        font-size: 14px;
        margin-left: -40px;
    }
    .thanks-img {
        width: 100px;
        height: 100px;
        margin-left: 150px;
    }
    .search {
        max-width: 400px;
        margin-left: 14%;
    }
    .search input {
        margin-left: 14%;
    }
    .search button {
        width: 80px;
    }
    .mob-sec {
        max-width: 400px;
        gap: 10px;
        margin-left: 14%;
    }
    .mob-sec h4 {
        font-size: 14px;
    }
    .freq h1 {
        font-size: 24px;
    }
    .faqdropdown {
        max-width: 400px;
    }
    .faq-detail {
        max-width: 352px;
    }
    .faq-detail p {
        margin-left: -10%;
    }
}

@media (max-width: 492px) {
    .search {
        max-width: 370px;
        margin-left: 14%;
    }
    .mob-sec {
        max-width: 370px;
    }
}

@media (max-width: 480px) {
    body, html {
        
    }
    #spinner {
        z-index: 100;
        text-align: center;
        margin-left: -20px;
    }
    header {
        height: 70px;
    }
    .navbar img {
        height: 60px;
    }
    .nav {
        height: 35vh;
        top: 8vh;
        padding-top: 20px;
    }
    .landing-page {
        background-image: url('images/Background.png');
        background-position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        height: 80vh;
    }
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 10px;
        line-height: 20px;
        width: 350px;
    }
    .bg1-img {
        width: 300px;
        margin-left: 5%;
    }
    .content1 h2 {
        font-size: 28px;
    }
    .second-section-div {
        width: 370px;
        margin:10px 0 30px 30px;
    }
    .flex-box {
        margin-bottom: -50px;
    }
    .flex-box h3 {
        font-size: 24px;
    }
    .flex-box p {
        font-size: 12px;
    }
    .contact-content h1 {
        font-size: 24px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        padding: 8px;
        font-size: 12px;
    }

    .submit-btn {
        padding: 10px;
        font-size: 14px;
    }
    .manage {
        margin-left: -50%;
    }
    .manage h1 {
        font-size: 28px;
        margin-left: 60px;
        padding-bottom: 10px;

    }
    .manage p {
        font-size: 12px;
        width: 380px;
        margin-left: 60px;
        white-space: wrap;
    }
    .manage-flex {
        margin-left: 60px;
    }
    .manage-flex img {
        width: 100px;
    
    }
    .achieve {
       margin-left: 10%;
    }
    .ach1 {
        margin-left: -80px;
        margin-top: -50px;
    }
    .ach1 p {
        font-size: 14px;
    } 
    .ach-div {
        margin-top: 50px;
        margin-left: 120px;
    }
    .ach2 p {
        font-size: 12px;
    }
    .ach3 p {
        font-size: 12px;
    }
    footer {
        flex-direction: column;
    }
    .left {
        margin-left: -160px;
    }
    .left ul {
        flex-direction: column;
    }
    .left li {
        padding: 0px;
       
    }
    .left img {
        margin-left: -10px;
    }
    .right {
        margin-left: -80px;
        padding-bottom: 30px;
    }
    .right-flex {
        display: flex;
        gap: 10px;
    }
    .right-flex img {
        width: 100px;
    }
    .section6 {
        height: 40vh;
    }
    .last-div h1 {
        font-size: 28px;
    }
    .video-part {
        width: 360px;
        height: 350px;
    }
    .our-vision-txt h1 {
        font-size: 28px;
    }
    .our-vision-txt p {
        font-size: 16px;
    }
    .our-vision-box {
        width: 360px;
    }
    .our-vision-box-p p {
        font-size: 17px;
    }
    .third-section {
        height: 850px;
    }
    .stories-txt {
        margin-left: -30px;
        margin-top: -10px;
    }
    .stories-txt h2 {
        font-size: 36px;
    }
    .stories-txt p {
        margin-left: -50px;
        font-size: 16px;
    }
    .img-fluid {
        width: 375px;
        margin-left: 20%;
    }
    .news-content {
        margin-left: -20%;
        margin-top: -40px;
    }
    .text-white {
        white-space: nowrap;
        width: 390px;
        font-size: 13px;
    }
    .end-div h3 {
        font-size: 26px;
    }
    .end-div p {
        font-size: 14px;
    }
    .end-btn1 {
        font-size: 14px;
        padding: 10px 20px;
    }
    .end-btn2 {
        font-size: 14px;
        padding: 10px 20px;
    }
    .thanks {
        
    }
    .smile {
        flex-wrap: wrap;
        max-width: 400px;
        margin-left: 15px;
        margin-top: -50px;
    }
    .smile h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .smile h4 {
        font-size: 18px;
    }
    .smile a {
        font-size: 14px;
        margin-left: -40px;
    }
    .thanks-img {
        width: 100px;
        height: 100px;
        margin-left: 150px;
    }
    .search {
        max-width: 370px;
        margin-left: 8%;
    }
    .search input {
        font-size: 16px;
    }
    .mob-sec {
        max-width: 370px;
        margin-left: 8%;
    }
    .faq-section2 {
        height: 1280px;
    }
    .freq h1 {
        font-size: 20px;
        width: 400px;
        margin-left: -15%;
        margin-top: -12%;
    }
    .faqdropdown {
        max-width: 370px;
        margin-left: 14%;
        margin-top: -1%;
    }
    .faqdropdown img {
        width: 35px;
    }
    .faq-title {
        line-height: normal;
        left: 5;
    }
    .faq-detail {
        max-width: 355px;
    }
    .faq-wrapper {
        margin-left: -10%;
        padding-left: 0;
    }
    .faq-title::after {
        width: 10px;
        height: 10px;
        content: "";
        float: right;
        color: #E61125;
        margin-right: 1px;
        margin-bottom: 15px;
        border-style: solid;
        border-width: 2px 2px 0 0;
        transform: rotate(135deg);
        transition: 0.4s ease-in-out;
    }
    .feature-down {
        padding-top: 70px;
    }

}

@media (max-width:414px) {
    body, html {
        max-width: 414px;
        overflow-x: ;
    }
    .search {
        margin-left: 5%;
    }
    .mob-sec {
        margin-left: 5%;
    }
    .faqdropdown {
        margin-left: 10%;
    }
}

@media (max-width: 390px) {
    body html {
        overflow-x: hidden;
    }
    #spinner {
        justify-self: ;
        margin: 0;
    }
    .landing-page {
        background-image: url('images/Background.png');
        background-position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 70vh;
    }
    .nav {
        top: 8vh;
        height: 50vh;
    }
    .nav a{
        font-size: 14px;
    }
    .content {
        max-width: 350px;
        margin-left: -50px;
    }
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 10px;
        width: 350px;
    }
    .bg1-img {
        width: 300px;
        margin-left: 10px;
    }
    .content1 h2 {
        font-size: 28px;
    }
    .second-section-div {
        margin-left: 10px;
    }
    .flex-box {
        margin-bottom: -50px;
        overflow-x: hidden;
        width: fit-content;
    }
    .flex-box h3 {
        font-size: 26px;
    }
    .flex-box p {
        font-size: 12px;
    }
    .contact-content h1 {
        font-size: 24px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        padding: 8px;
        font-size: 12px;
    }

    .submit-btn {
        padding: 10px;
        font-size: 14px;
    }
    .manage h1 {
        font-size: 24px;
        margin-left: 60px;
        padding-bottom: 10px;

    }
    .manage p {
        font-size: 10px;
        width: 100%;
        margin-left: 60px;
        white-space: wrap;
    }
    .manage-flex {
        margin-left: 60px;
    }
    .manage-flex img {
        width: 100px;
    }
    .manage-img img {
        width: 300px;
    }
    .ach1 {
        margin-left: -80px;
        margin-top: -100px;
    }
    .ach1 p {
        font-size: 14px;
    } 
    .ach-div {
        margin-top: 50px;
        margin-left: 120px;
    }
    .ach2 p {
        font-size: 12px;
    }
    .ach3 p {
        font-size: 12px;
    }
    footer {
        flex-direction: column;
    }
    .left {
        margin-left: -160px;
    }
    .left ul {
        flex-direction: column;
    }
    .left li {
        padding: 0px;
       
    }
    .left img {
        margin-left: -10px;
    }
    .right {
        margin-left: -80px;
        padding-bottom: 30px;
    }
    .right-flex {
        display: flex;
        gap: 10px;
    }
    .right-flex img {
        width: 100px;
    }
    .video-part {
        margin-left: 0;
        width: 340px;
    }
    .our-vision-box {
        margin-left: ;
    }
    .img-fluid {
        margin-left: 15%;
    }
    .news-content {
        margin-left: -26%;
    }
    .smile {
        flex-wrap: wrap;
        max-width: 350px;
        margin-left: 20px;
        margin-top: -50px;
    }
    .smile h1 {
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: -30px;
    }
    .smile h4 {
        font-size: 16px;
    }
    .smile a {
        font-size: 14px;
        margin-left: -70px;
    }
    .thanks-img {
        width: 100px;
        height: 100px;
        margin-left: 120px;
    }
    .search {
        margin-left: 4%;
    }
    .mob-sec {
        margin-left: 4%;
    }
    .faqdropdown {
        margin-left: 7%;
    }
}

@media (max-width: 375px) {
    body html {
        overflow-x: hidden;
    }
    #spinner {
        justify-self: ;
        margin: 0;
    }
    .landing-page {
        background-image: url('images/Background.png');
        background-position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 70vh;
    }
    .nav {
        top: 10vh;
        height: 60vh;
    }
    .nav a{
        font-size: 14px;
    }
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 10px;
        width: 350px;
    }
    .bg1-img {
        width: 300px;
    }
    .content1 h2 {
        font-size: 28px;
    }
    .second-section-div {
        margin-left: 5px;
    }
    .flex-box {
        margin-bottom: -50px;
        overflow-x: hidden;
        width: fit-content;
    }
    .flex-box h3 {
        font-size: 26px;
    }
    .flex-box p {
        font-size: 12px;
    }
    .contact-content h1 {
        font-size: 24px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        padding: 8px;
        font-size: 12px;
    }

    .submit-btn {
        padding: 10px;
        font-size: 14px;
    }
    .manage h1 {
        font-size: 24px;
        margin-left: 60px;
        padding-bottom: 10px;

    }
    .manage p {
        font-size: 10px;
        width: 100%;
        margin-left: 60px;
        white-space: wrap;
    }
    .manage-flex {
        margin-left: 60px;
    }
    .manage-flex img {
        width: 100px;
    }
    .manage-img img {
        width: 300px;
    }
    .ach1 {
        margin-left: -80px;
        margin-top: -100px;
    }
    .ach1 p {
        font-size: 14px;
    } 
    .ach-div {
        margin-top: 50px;
        margin-left: 120px;
    }
    .ach2 p {
        font-size: 12px;
    }
    .ach3 p {
        font-size: 12px;
    }
    footer {
        flex-direction: column;
    }
    .left {
        margin-left: -160px;
    }
    .left ul {
        flex-direction: column;
    }
    .left li {
        padding: 0px;
       
    }
    .left img {
        margin-left: -10px;
    }
    .right {
        margin-left: -80px;
        padding-bottom: 30px;
    }
    .right-flex {
        display: flex;
        gap: 10px;
    }
    .right-flex img {
        width: 100px;
    }
    .smile {
        flex-wrap: wrap;
        max-width: 350px;
        margin-left: 12px;
        margin-top: -50px;
    }
    .smile h1 {
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: -30px;
    }
    .smile h4 {
        font-size: 16px;
    }
    .smile a {
        font-size: 14px;
        margin-left: -70px;
    }
    .thanks-img {
        width: 100px;
        height: 100px;
        margin-left: 120px;
    }
}
